node_modules/
build/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

@testing-library/
axios/
react/
react-dom/
react-router-dom/
react-scripts/
web-vitals/
React-Icons/
React-Toastify
Axios/


coverage/
dist/


React: ^18.3.1
React DOM: ^18.3.1
React Router DOM: ^6.23.1
: ^5.2.1
: ^10.0.5
Styled Components: ^6.1.11
: ^1.7.2
JWT Decode: ^4.0.0
React Scripts: 5.0.1
Testing Library:
@testing-library/jest-dom: ^5.17.0
@testing-library/react: ^13.4.0
@testing-library/user-event: ^13.5.0
Web Vitals: ^2.1.4